<!DOCTYPE html>
<html lang="es" dir>

<head>
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="../static/css/bootstrap.css" />

	<script th:src="@{js/bootstrap.js}" type="text/javascript" src="../static/js/bootstrap.js"></script>
	<script th:src="@{js/jquery-3.4.1.js}" type="text/javascript" src="../static/js/jquery-3.4.1.js"></script>

	<meta charset="UTF-8"/>
	<title>Registro de Paciente</title>
</head>

<body>

	<div class=container>
		<div class="row">
			<div class="col-sm-8 mx-auto mt-5">

				<form th:action="@{paciente/registrarPaciente}" th:object="${Paciente}" method="post">
					<div class="row">
						<div class="col">
							<input type="text" class="form-control" name="identificacion" placeholder="Identificacion">
						</div>
						<div class="col">
							<input type="text" class="form-control" name="nombresApellidos"
								placeholder="Nombres y Apellidos">
						</div>
					</div>
					<div class="row mt-2">
						<div class="col">
							<div class="form-group">
								<label for="fechaNacimiento">Fecha de Nacimiento</label>
								<input type="text" class="form-control" name="fechaNacimiento">
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label for="sexo">Sexo</label>
								<select class="form-control" name="sexo">
									<option>Femenino</option>
									<option>Masculino</option>
									<option>Otro</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="direccion">Direccion</label>
						<textarea type="text" class="form-control" name="direccion" rows="3"></textarea>
					</div>
					<div class="row">
						<div class="col">
							<input type="text" class="form-control" name="telefono" placeholder="Telefono">
						</div>
						<div class="col">
							<input type="text" class="form-control" name="email" placeholder="Email">
						</div>
					</div>
					<div class="mt-3">
						<button type="submit" class="btn btn-light">Registrar</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>

</html>